@import "tailwindcss";

/* App.css */
* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  position: relative;
}

.app-header {
  padding: 1rem, 2rem;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 640px) {
  .app-header {
    padding: 1rem;
  }
}

.ader h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.cart-toggle-btn {
  margin-inline: 5px;
  background-color: white;
  color: #6a11cb;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.6rem 0.7rem;
}
.cart-length {
  color: inherit;
}
@media screen and (max-width: 640px) {
  .cart-toggle-btn {
    padding: 0.4rem 0.4rem;
  }
}
.cart-toggle-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.app-main {
  padding: 2rem;
  max-width: 1350px;
  margin: 0 auto;
}
.is-loading {
  transform: translate(-50%, -50%);
}
