@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-gray: var(--color-gray-100);
  --title: var(--color-gray-800);
  --subtitle: var(--color-neutral-950);
  --text: var(--color-gray-600);

  --stock-bg-green: #34d39933;
  --stock-green: #064e3b;

  --stock-bg-red: #ff7f6133;
  --stock-red: #991b1b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-stone-900);
    --background-gray: var(--color-gray-900);
    --title: var(--color-neutral-50);
    --subtitle: var(--color-neutral-100);
    --text: var(--color-gray-300);

    --stock-red: var(--color-red-100);
    --stock-green: var(--color-emerald-100);
  }
  span {
    color: var(--text);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-background-gray: var(--color-gray-900);
  --color-foreground: var(--foreground);
  --color-title: var(--title);

  --color-subtitle: var(--subtitle);
  --color-text: var(--text);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
body {
  background: var(--background);
  color: var(--subtitle);
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 640px) {
  .header-secundary-controls {
    display: none;
  }
  .cart-length {
    display: none;
  }
}
